* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
}

.header-bar {
  position: fixed;
  border-bottom: 1px solid rgb(228, 228, 228);
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: rgb(66, 43, 108);
  z-index: 1;
  padding: 14px;
}

.column {
  width: 100%;
}
.column-image {
  position: relative;
}

.column-image img {
  width: 16em;
  height: 16em;
}

.column-image {
  margin-right: 10px;
}

.column .heading {
  font-size: 18px;
  font-weight: bold;
}

.column .top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column .top-row .title {
  font-size: 18px;
  font-weight: bold;
}

.column .top-row .created-time {
  color: rgba(107, 114, 128);
  padding: 0 3px;
}

.column .address {
  font-size: 12px;
}

.column .description {
  font-size: 16px;
  margin-top: 10px;
}

.content {
  margin-top: 78px;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20%;
}

.filters-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  padding: 20px 0px;
}

input,
select {
  padding: 10px;
}

.location-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 650px;
}

.list-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  width: 650px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// Flex rules
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #header-bar {
    flex-direction: column;
    height: 130px;
    max-width: 100%;
  }
}
