:root {
  --background: white;
  --text-primary: black;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
}

$card-width-desktop: 650px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout {
  background: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background 300ms;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    font-size: 36px;
    font-weight: bold;
    padding: 0 20px;
  }

  .theme-button {
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    cursor: pointer;
    a {
      color: var(--text-primary);
    }
  }
}

main {
  flex: 1 1 auto;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20%;
}

.list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $card-width-desktop;
  list-style-type: none;

  .item {
    text-decoration: none;
    width: 100%;

    .item-anchor {
      text-decoration: none;
      color: inherit;
      display: flex;
      flex-direction: row;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .item-anchor:hover {
      box-shadow: 0 4px 12px rgba(102, 103, 107, 0.2);
      transform: translateY(-2px);
      transition: 0.3s;
    }

    .column-left {
      position: relative;
      margin-right: 20px;

      img {
        width: 16em;
        height: 16em;
        border-radius: 10px;
      }
    }

    .column-right {
      width: 100%;

      .top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 18px;
          font-weight: bold;
        }

        .created-time {
          color: rgba(107, 114, 128);
          padding: 0 3px;
        }
      }

      .description {
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}

.login-btn {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  margin-top: 50px;
  text-decoration: none;
}

.login-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(102, 103, 107, 0.2);
  transform: translateY(-2px);
  transition: 0.3s;
}

a {
  text-decoration: none;
}

// utility classes

.px-10 {
  padding: 0 10px;
}
